#drum-machine {
    display: flex;
    justify-content: center;
    align-items: center;
}

#drum-pad-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#display {
    height: 50px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(168, 167, 167);
    font-size: 20px;
    margin-left: 20px;
}